// Generics
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    overflow: auto;
}

//logout
.text-logo {
    color: #001533
}

// COMPONENTS 
header {
    height: 380px;
    background: linear-gradient(
        176deg,
        rgba(0, 204, 188, 1) 49.7%,
        rgba(208, 235, 153, 1) 50%
    );
    @media screen and (max-width: 768px) {
        height: 340px;
    }
    i {
        color: #00ccbc;
    }
}

#hero {
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: url(https://cwa.roocdn.com/_next/static/campaign.5add8e18.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom 0% right 25%;
    @media screen and (max-width: 768px) {
        height: 300px;
    }
    @media screen and (max-width: 500px) {
        background-image: none;
        #hero-text {
            width: 100%;
        }
    }
    h1 {
        color: #440063;
        font-weight: bold;
        font-size: 45px;
    }
}

// SIDENAV
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 1rem;
    border-left: 1px solid #eee;
}

.sidenav a {
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    font-size: 1rem;
    color: #000;
    display: block;
    transition: 0.3s;
}

.sidenav .btn {
    width: 100%;
    margin: 10px;
    color: #fff;
}

.sidenav a:hover {
    color: #ccc;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 2rem;
    margin-left: 50px;
}

// Main

#default-section {
    background-color: #ffeae4;

    h5 {
        text-transform: capitalize;
    }
}

#default-section,
#deliveboo-section {
    h5 {
        font-weight: bold;
    }
    h2 {
        font-size: 35px;
    }
    a {
        color: #000;
        text-decoration: none;
    }
}

// #search-form {
//     line-height: calc(177px / 3);
//     background-color: #fff;
//     border-radius: 5px;
// }

// Order Statistics

// #myChart {
//     width: 100%;
//     height: auto;
// }

// ANIMATIONS

#hero, #deliveboo-section, #default-section {
    img,
    h1 {
        animation: fadeIn 1s ease-in;
        animation-iteration-count: initial;
    }

}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

