// Generics
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#root {
    overflow: auto;
}

// Utils
.clickable {
    cursor: pointer;
}

// Main
#hero {
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: url(https://cwa.roocdn.com/_next/static/campaign.5add8e18.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom 0% right 25%;
    h1 {
        color: #440063;
        font-weight: bold;
    }
}

header {
    height: 455px;
    background: linear-gradient(
        176deg,
        rgba(0, 204, 188, 1) 49.7%,
        rgba(208, 235, 153, 1) 50%
    );
}
#search-form {
    line-height: calc(177px / 3);
    background-color: #fff;
    border-radius: 5px;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 1rem;
    border-left: 1px solid #eee;
}

.sidenav a {
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    font-size: 1rem;
    color: #000;
    display: block;
    transition: 0.3s;
}
.sidenav .btn {
    width: 100%;
    margin: 10px;
    color: #fff;
}

.sidenav a:hover {
    color: #ccc;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 2rem;
    margin-left: 50px;
}

// Order Statistics

#myChart {
    width: 100%;
    height: auto;
}
